.el-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.is-vertical {
    >.el-aside {
      width: 100%;
      overflow: hidden;
    }
  }
}

.el-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.el-dialog.max-height{
  --el-dialog-margin-top: 20px;
  height: calc(100% - var(--el-dialog-margin-top) - 50px);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .el-dialog__body{
    flex: 1;
    overflow: hidden;
  }
}