@font-face {
  font-family: "iconfontbi"; /* Project id 4846635 */
  src: url('iconfont.woff2?t=1741318263975') format('woff2'),
       url('iconfont.woff?t=1741318263975') format('woff'),
       url('iconfont.ttf?t=1741318263975') format('truetype');
}

.iconfontbi {
  font-family: "iconfontbi" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bi-jiufuqianbaoicon14:before {
  content: "\e69b";
}

.icon-bi-t:before {
  content: "\e659";
}

.icon-bi-clock:before {
  content: "\e66a";
}

.icon-bi-jinghao:before {
  content: "\e7a4";
}

.icon-bi-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-bi-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-bi-tubiao-zhuzhuangtu:before {
  content: "\eb97";
}

